.day-time-column-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.day-time-left-column {
  flex: 1;
  margin-right: 10px;
  margin-top: -10px;
}

.day-time-right-column {
  flex: 8;
}

.day-time-row {
  display: flex;
  height: 100px; 
  border: 1px solid #ddd;
  flex-direction: column;
  justify-content: center;
}

.day-time {
  padding: 10px;
  font-size: 20px;
}

.day-time-cell{

  text-align: right;
  height: 100px;
}
